<div class="relative min-h-[calc(100vh-134px)] bg-center bg-cover" style="background-image: url('<%= asset_path('top.png') %>');">
  <div class="absolute top-1/2 left-1/2 w-full text-center text-white text-3xl md:text-3xl" style="transform: translate(-50%, -50%);">
    <h1>Hello, World!</h1>
  </div>
</div>