<footer id='footer' class='footer-bottom'>
    <div class='max-w-6xl mx-auto px-8'>
        <div class='flex'>
            <div class='w-full sm:w-1/2'>
                <div class='copyright'>
                  <p>Copyright © 2024. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>